/* Farven på body (baggrundsfarven for sitet) */
body {background-color:#f4f4f4;
font-family: Roboto, sans-serif;
}

.center {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 250px;
    background-color: #f4f4f4;
}

.flex-container-center {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 250px;
    background-color: #f4f4f4;
    margin: auto;
}


.flex-homeprofile {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 120px;
    background-color: lightgrey;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex-menubuttons {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 50px;
    background-color: lightgrey;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-messageboard {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: auto;
    background-color: #f4f4f4;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Bruges ikke lige pt.
.flex-menuitem {
    background-color: cornflowerblue;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    font: 20px Roboto;
}
*/

.flex-item {
    width: 200px;
    height: 20px;
    margin: 10px;
}

.flex-home {
    width: auto;
    height: auto;
}

.flex-profile {
    width: auto;
    height: auto;
    direction: rtl;
    flex-direction: row-reverse;
}

/* Menuknapperne */
.btn {
    background-color: #555555; /* Sort */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.mbbutton1 {
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.mbbutton2 {
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.mbbutton3 {
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.mbbutton4 {
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}














/* Class selector der viser en border samt collapser dem */
.border {
    border:1px solid black;
    border-collapse: collapse;
}

/* Class selector til tabellen som indeholder den statiske topbar (Logo, Profil, samt menuerne) */
.topbar {
	margin:0 auto;
	width:1000px;
	height:100%;
	padding:0px 0px 0px 0px;
    table-layout: fixed;
    vertical-align: top;
}

/* Class selector til en tabel inde i en tabel */
.boxbox {
	margin:0 auto;
	width:100%;
	height:100%;
	padding:0px 0px 0px 0px;
    table-layout: fixed;
}

/* Id selector som "left-aligner" teksten til "hjem" knappen */
#homebutton {
    text-align: left;
}

/* Id selector som "right-aligner" teksten til "profil" knappen */
#profilebutton {
    text-align: right;
}

/* Class selector til menu knapperne */
.menubutton {
    text-align: center;
    border:1px solid black;
    border-collapse: collapse;
}

/* Class selector til text align */
.textalign {
    text-align: center;
    border-collapse: collapse;
}